<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="Pragma" content="no-cache">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"/>
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/config/static/layui/css/layui.css}" defer="defer">
    <link rel="stylesheet" th:href="@{/config/static/css/mainCss.css}" defer="defer">
    <link rel="stylesheet" th:href="@{/config/static/css/InputAnimation.css}">
    <script type="text/javascript" th:src="@{/config/static/js/jq.js}"></script>
    <script type="text/javascript" th:src="@{/config/static/layui/layui.js}"></script>
    <script type="text/javascript" th:src="@{/config/static/js/config.js}"></script>
    <style type="text/css">
        .titleMsg>h2,.titleMsg>div{
            float: left;
        }
        .titleMsg>div{
            margin-top: 38px;
        }
        .titleMsg{
            margin-bottom: 50px;
        }
        .formStyle{
            background-color: #fff;
            padding: 10px 30px;
            margin-top: 30px;
        }
        .formStyle>div>div>div{
            line-height: 36px;
        }
        .firstEle{
            margin-left: 20px;
        }
        .imgBox{
            overflow: hidden;
            padding: 20px;
        }
        #loadHtml{
            padding: 0 30px;
        }
        .imgBox>div{
            width: 400px;
            height: 400px;
            overflow: hidden;
            float: left;
            margin-left: 30px;
            margin-bottom: 30px;
        }
        .layui-layer-dialog{
            width:auto!important;
        }


        @media screen and (max-width: 1000px) {

            .firstEle{
                margin-left: 0;
            }


        }


        .layui-elem-field{
            border-color: #5f8fe2;
        }
        .titleBox{
            margin-left: auto;
            margin-right: auto;

        }
        .titleBox>ul{
            background-color: rgb(255, 255, 255);
            color: #535353;
            display: inline-block;
            border-bottom:1px solid #ffffff !important;;
        }
    </style>
</head>
<body>
<div class="bgcSidebar"></div>
<div class="container app">
    <header>
        <!--头部导航-->
        <ul class="layui-nav overStyle" lay-filter="">
            <li class="logoOver"><div class="logoBox"><img class="logo" th:src="@{/config/static/img/default_logo.png}"></div><div class="logoText">锦鲤直播</div></li>
            <!--<li class="layui-nav-item toItemChange" data-path="index"><a href="javascript:void(0);" >首页</a></li>-->
            <!--<li class="layui-nav-item toItemChange" data-path="LiveUserExamine"><a href="javascript:void(0);" >主播管理</a></li>-->
            <!--<li class="layui-nav-item toItemChange" data-path="reportList"><a href="javascript:void(0);" >举报管理</a></li>-->
            <!--<li class="layui-nav-item layui-this  toItemChange" data-path="personDiaryList"><a href="javascript:void(0);">动态审核</a></li>-->
            <!--<li class="layui-nav-item toItemChange" data-path="guessList"><a href="javascript:void(0);">竞猜管理</a></li>-->
            <!--<li class="layui-nav-item toItemChange" data-path="backOfficeManagement"><a href="javascript:void(0);">后台账号管理</a></li>-->
            <li class="userMsg">
                <div>
                    <span>欢迎您：</span>
                    <span id="loginName">admin</span>
                </div>
                <div>
                    <a href="/logout"><button class="layui-btn layui-btn-danger" id="logout" >退出</button></a>
                </div>
            </li>
        </ul>
    </header>
    <main class="mainStyle">
        <!--侧边栏-->
        <div class="sidebar">
            <div>
                <ul class="layui-nav layui-nav-tree overStyle leftSide" id="sidebar" lay-filter="test">
                    <!--<li class="layui-nav-item"><a  class="toItemChange" data-path="personDiaryList" href="javascript:void(0);">动态审核列表</a></li>-->
                    <!--<li class="layui-nav-item"><a  class="toItemChange" data-path="personDiaryReject" href="javascript:void(0);">未通过列表</a></li>-->
                    <!--<li class="layui-nav-item"><a  class="toItemChange" data-path="personDiaryApproved" href="javascript:void(0);">通过列表</a></li>-->
                </ul>
                <div class="mainBox clearfix" id="loadHtml">
                    <div class="titleMsg clearfix">
                        <h2 class="headMsg">域名设置</h2>
                    </div>

                    <div style="width: 95%;margin: 0 auto;background-color:#fff;padding: 20px 20px;">
                        <div class="titleBox layui-tab layui-tab-brief"  lay-filter="docDemoTabBrief">
                            <ul class="layui-tab-title">
                                <li class="titleClick layui-this" data-value="2">T平台</li>
                                <li class="titleClick" data-value="3">Q平台</li>
                            </ul>
                        </div>
                        <div class="layui-row" style="margin-bottom: 20px;">
                            <div class="layui-col-md3">域名:</div>
                            <div class="layui-col-md2">使用时长:</div>
                            <div class="layui-col-md2">当前状态:</div>
                            <div class="layui-col-md2">1小时访问量:</div>
                            <div class="layui-col-md1">当前使用人数:</div>
                            <div class="layui-col-md2">操作</div>
                        </div>
                        <div>
                            <fieldset class="layui-elem-field layui-field-title">
                                <legend>境内线路</legend>
                            </fieldset>
                            <div id="domesticLine">
                            </div>
                            <fieldset class="layui-elem-field layui-field-title">
                                <legend>东南亚线路</legend>
                            </fieldset>
                            <div id="southeastAsiaLine">
                            </div>
                            <fieldset class="layui-elem-field layui-field-title">
                                <legend>境外高防线路</legend>
                            </fieldset>
                            <div id="abroadLine">

                            </div>
                        </div>
                    </div>
                    <div class="mtBox"></div>
                </div>
                <div class="clearFloat"></div>
            </div>
        </div>
    </main>
</div>
<script type="text/javascript" th:src="@{/config/static/js/mainMethod.js}"></script>
<script th:inline="javascript">
    var aa
    let platform = 2
    $(".titleClick").on("click",function () {
        platform = this.getAttribute("data-value")
        //初始化
        start(platform)
    })
    start(2)
function start(p){
    $.get({
        url:window.ioApi.backOffice.domainList,
        data:{platform:p},
        success:function (res) {
            console.log(res);
            aa = res
            info(res)
        }
    })
}


    function info(res) {
        res.INLAND ?  domesticInfo(res.INLAND) :  domesticInfo([])
        res.SOUTHEAST_ASIA ?  southeastAsiaInfo(res.SOUTHEAST_ASIA) :  southeastAsiaInfo([])
        res.OVERSEAS ?  abroadInfo(res.OVERSEAS) :  abroadInfo([])
        displayRoleClassElement(["UPDATEDOMAINNAMEQ"],"INLAND_updateDomain")
        displayRoleClassElement(["UPDATEDOMAINNAMEQ"],"SOUTHEAST_ASIA_updateDomain")
        displayRoleClassElement(["UPDATEDOMAINNAMEQ"],"OVERSEAS_updateDomain")
        displayRoleClassElement(["TESTDOMAINNAMEQ"],"INLAND_testDomain")
        displayRoleClassElement(["TESTDOMAINNAMEQ"],"SOUTHEAST_ASIA_testDomain")
        displayRoleClassElement(["TESTDOMAINNAMEQ"],"OVERSEAS_testDomain")
        displayRoleClassElement(["REMOVEDOMAINQ"],"INLAND_removeDomain")
        displayRoleClassElement(["REMOVEDOMAINQ"],"SOUTHEAST_ASIA_removeDomain")
        displayRoleClassElement(["REMOVEDOMAINQ"],"OVERSEAS_removeDomain")
    }

    //国内线路初始化
    function domesticInfo(list) {
        $("#domesticLine").get(0).innerHTML=""
        for(var i=0;i<6;i++){
            if(i<list.length){
                list[i].statue = domainStatueFilter(list[i].statue)
                $("#domesticLine").get(0).innerHTML+=`
                 <div class="layui-row" style="margin-bottom: 20px;" data-line="INLAND">
                                    <div class="layui-col-md3">
                                        <input  style="width: 200px" type="text" required  lay-verify="required" autocomplete="off" class="layui-input" value="${list[i].domainName}">
                                    </div>
                                    <div class="layui-col-md2"><span>${list[i].useDay + "天"}</span></div>
                                    <div class="layui-col-md2"><span style="color: ${list[i].statue.color}">${list[i].statue.name}</span></div>
                                    <div class="layui-col-md2">${list[i].lastHourViewNum+"人次"}</div>
                                    <div class="layui-col-md1">${list[i].currentViewNum+"人次"}</div>
                                    <div class="layui-col-md2">
                                        <button class="layui-btn layui-btn-normal INLAND_updateDomain" data-domain="${list[i].domainName}">修改</button>
                                        <button class="layui-btn layui-btn-danger INLAND_testDomain" data-domain="${list[i].domainName}">测试</button>
                                        <button class="layui-btn layui-btn-warm INLAND_removeDomain" data-domain="${list[i].domainName}">删除</button>
                                    </div>
                                </div>
                `
            }else {
                $("#domesticLine").get(0).innerHTML+=`
                 <div class="layui-row" style="margin-bottom: 20px;"  data-line="INLAND">
                                    <div class="layui-col-md3">
                                        <input  style="width: 200px" type="text" required  lay-verify="required" autocomplete="off" class="layui-input" value="">
                                    </div>
                                    <div class="layui-col-md2"><span>暂无</span></div>
                                    <div class="layui-col-md2"><span>暂无</span></div>
                                    <div class="layui-col-md2">暂无</div>
                                    <div class="layui-col-md1">暂无</div>
                                    <div class="layui-col-md2">
                                        <button class="layui-btn layui-btn-normal INLAND_addDomain">添加</button>
                                        <button class="layui-btn layui-btn-disabled">测试</button>
                                    </div>
                                </div>
                `
            }
        }
        $(".INLAND_updateDomain").on("click",function () {
            updateDomain(this)
        })

        $(".INLAND_addDomain").on("click",function () {
            addDomain(this)
        })

        $(".INLAND_testDomain").on("click",function () {
            testDomain(this)
        })
        $(".INLAND_removeDomain").on("click",function () {
            removeDomain(this)
        })
    }

    function southeastAsiaInfo(list) {
        $("#southeastAsiaLine").get(0).innerHTML=""
        for(var i=0;i<6;i++){
            if(i<list.length){
                list[i].statue = domainStatueFilter(list[i].statue)
                $("#southeastAsiaLine").get(0).innerHTML+=`
                 <div class="layui-row" style="margin-bottom: 20px;" data-line="SOUTHEAST_ASIA">
                                    <div class="layui-col-md3">
                                        <input  style="width: 200px" type="text" required  lay-verify="required" autocomplete="off" class="layui-input" value="${list[i].domainName}">
                                    </div>
                                    <div class="layui-col-md2"><span>${list[i].useDay + "天"}</span></div>
                                    <div class="layui-col-md2"><span style="color: ${list[i].statue.color}">${list[i].statue.name}</span></div>
                                    <div class="layui-col-md2">${list[i].lastHourViewNum+"人次"}</div>
                                    <div class="layui-col-md1">${list[i].currentViewNum+"人次"}</div>
                                    <div class="layui-col-md2">
                                        <button class="layui-btn layui-btn-normal SOUTHEAST_ASIA_updateDomain" data-domain="${list[i].domainName}">修改</button>
                                        <button class="layui-btn layui-btn-danger SOUTHEAST_ASIA_testDomain" data-domain="${list[i].domainName}">测试</button>
                                        <button class="layui-btn layui-btn-warm SOUTHEAST_ASIA_removeDomain" data-domain="${list[i].domainName}">删除</button>
                                    </div>
                                </div>
                `
            }else {
                $("#southeastAsiaLine").get(0).innerHTML+=`
                 <div class="layui-row" style="margin-bottom: 20px;"  data-line="SOUTHEAST_ASIA">
                                    <div class="layui-col-md3">
                                        <input  style="width: 200px" type="text" required  lay-verify="required" autocomplete="off" class="layui-input" value="">
                                    </div>
                                    <div class="layui-col-md2"><span>暂无</span></div>
                                    <div class="layui-col-md2"><span>暂无</span></div>
                                    <div class="layui-col-md2">暂无</div>
                                    <div class="layui-col-md1">暂无</div>
                                    <div class="layui-col-md2">
                                        <button class="layui-btn layui-btn-normal SOUTHEAST_ASIA_addDomain">添加</button>
                                        <button class="layui-btn layui-btn-disabled">测试</button>
                                    </div>
                                </div>
                `
            }
        }
        $(".SOUTHEAST_ASIA_updateDomain").on("click",function () {
            updateDomain(this)
        })

        $(".SOUTHEAST_ASIA_addDomain").on("click",function () {
            addDomain(this)
        })

        $(".SOUTHEAST_ASIA_testDomain").on("click",function () {
            testDomain(this)
        })
        $(".SOUTHEAST_ASIA_removeDomain").on("click",function () {
            removeDomain(this)
        })
    }

    function abroadInfo(list) {
        $("#abroadLine").get(0).innerHTML=""
        for(var i=0;i<6;i++){
            if(i<list.length){
                list[i].statue = domainStatueFilter(list[i].statue)
                $("#abroadLine").get(0).innerHTML+=`
                 <div class="layui-row" style="margin-bottom: 20px;" data-line="OVERSEAS">
                                    <div class="layui-col-md3">
                                        <input  style="width: 200px" type="text" required  lay-verify="required" autocomplete="off" class="layui-input" value="${list[i].domainName}">
                                    </div>
                                    <div class="layui-col-md2"><span>${list[i].useDay + "天"}</span></div>
                                    <div class="layui-col-md2"><span style="color: ${list[i].statue.color}">${list[i].statue.name}</span></div>
                                    <div class="layui-col-md2">${list[i].lastHourViewNum+"人次"}</div>
                                    <div class="layui-col-md1">${list[i].currentViewNum+"人次"}</div>
                                    <div class="layui-col-md2">
                                        <button class="layui-btn layui-btn-normal OVERSEAS_updateDomain" data-domain="${list[i].domainName}">修改</button>
                                        <button class="layui-btn layui-btn-danger OVERSEAS_testDomain" data-domain="${list[i].domainName}">测试</button>
                                        <button class="layui-btn layui-btn-warm OVERSEAS_removeDomain" data-domain="${list[i].domainName}">删除</button>
                                    </div>
                                </div>
                `
            }else {
                $("#abroadLine").get(0).innerHTML+=`
                 <div class="layui-row" style="margin-bottom: 20px;"  data-line="OVERSEAS">
                                    <div class="layui-col-md3">
                                        <input  style="width: 200px" type="text" required  lay-verify="required" autocomplete="off" class="layui-input" value="">
                                    </div>
                                    <div class="layui-col-md2"><span>暂无</span></div>
                                    <div class="layui-col-md2"><span>暂无</span></div>
                                    <div class="layui-col-md2">暂无</div>
                                    <div class="layui-col-md1">暂无</div>
                                    <div class="layui-col-md2">
                                        <button class="layui-btn layui-btn-normal OVERSEAS_addDomain">添加</button>
                                        <button class="layui-btn layui-btn-disabled">测试</button>
                                    </div>
                                </div>
                `
            }
        }
        $(".OVERSEAS_updateDomain").on("click",function () {
            updateDomain(this)
        })

        $(".OVERSEAS_addDomain").on("click",function () {
            addDomain(this)
        })

        $(".OVERSEAS_testDomain").on("click",function () {
            testDomain(this)
        })
        $(".OVERSEAS_removeDomain").on("click",function () {
            removeDomain(this)
        })
    }

    function removeDomain(el) {
        layer.open({
            title: '提示'
            ,content: "确定删除这条域名吗？",
            btn:["确定","取消"],
            btn1:function (index,layero) {
                $.get({
                    url:window.ioApi.backOffice.removeDomain,
                    data:{domainName:el.getAttribute("data-domain"), platform:platform},
                    success:function (res) {
                        if(res.code === 200){
                            layer.open({
                                title: '提示'
                                ,content: "删除成功！",
                                btn:["确定"],
                                btn1:function () {
                                    layer.closeAll();
                                    start(platform)
                                }
                            })
                        }else {
                            layer.open({
                                title: '提示'
                                ,content: "删除失败！",
                                btn:["确定"],
                                btn1:function () {
                                    layer.closeAll();
                                }
                            })
                        }
                    },
                    error:function () {
                        layer.open({
                            title: '提示'
                            ,content: "删除失败！",
                            btn:["确定"],
                            btn1:function () {
                                layer.closeAll();
                            }
                        })
                    }
                })



            },
            btn2:function (index,layero) {
                layer.closeAll();
            }
        })
    }

    function addDomain(el) {
        console.log(el);
        console.log(el.parentNode.parentNode.children[0].children[0].value);
        if(el.parentNode.parentNode.children[0].children[0].value === "" || el.parentNode.parentNode.children[0].children[0].value === null){
            layer.open({
                title: '提示'
                ,content: '域名不能为空！',
                btn:["确定"],
                btn1:function (index,layero) {
                    layer.closeAll();
                }
            });
        }else {
            $.post({
                url:window.ioApi.backOffice.addDomain,
                data:{
                    domain:el.parentNode.parentNode.children[0].children[0].value,
                    line:el.parentNode.parentNode.getAttribute("data-line"),
                    platform:platform
                },
                success:function (res) {
                    console.log(res);
                    if(res.code===200){
                        layer.open({
                            title: '提示'
                            ,content: '添加成功',
                            btn:["确定"],
                            btn1:function (index,layero) {
                                layer.closeAll();
                                start(platform)
                            }
                        });
                    }else {
                        layer.open({
                            title: '提示'
                            , content: '添加失败</br>' + res.msg,
                            btn: ["确定"],
                            btn1: function (index, layero) {
                                layer.closeAll();
                            }
                        })
                    }
                }
            })
        }
    }

    function updateDomain(el) {
        $.post({
            url: window.ioApi.backOffice.updateDomainName,
            data: {
                newDomainName: el.parentNode.parentNode.children[0].children[0].value,
                oldDomainName: el.getAttribute("data-domain"),
                platform:platform
            },
            success:function (res) {
                console.log(res);
                if(res.code===200){
                    layer.open({
                        title: '提示'
                        ,content: '修改成功',
                        btn:["确定"],
                        btn1:function (index,layero) {
                            layer.closeAll();
                            start(platform)
                        }
                    });
                }else {
                    layer.open({
                        title: '提示'
                        , content: '修改失败</br>' + res.msg,
                        btn: ["确定"],
                        btn1: function (index, layero) {
                            layer.closeAll();
                        }
                    })
                }
            }
        })
    }

    function testDomain(el) {
        // el.parentNode.parentNode.getAttribute("data-line")
        var url = el.getAttribute("data-domain")
        var socket = new WebSocket("wss://ws."+url+"/api/ws/game01/")
        switch (socket.readyState) {
            case WebSocket.CONNECTING:
                // 正在连接中
                break;
            case WebSocket.OPEN:
                // 连接成功
                console.log("连接成功");
                break;
        }
        socket.onopen=function(event){
            console.log("连接成功");
            socket.close()
            layer.open({
                title: '提示'
                , content:  '<i class="layui-icon layui-icon-face-smile" style="color: #14ff2f;font-size: 30px"></i>  连接成功',
                btn: ["确定"],
                btn1: function (index, layero) {
                    layer.closeAll();
                    for(let i=0;i<aa[el.parentNode.parentNode.getAttribute("data-line")].length;i++){
                        console.log(aa[el.parentNode.parentNode.getAttribute("data-line")][i]);
                        if(aa[el.parentNode.parentNode.getAttribute("data-line")][i].domainName===url){
                            console.log(aa[el.parentNode.parentNode.getAttribute("data-line")][i].statue);
                            aa[el.parentNode.parentNode.getAttribute("data-line")][i].statue = "NORMAL"
                        }
                    }
                    console.log(aa);
                    info(aa)
                }
            })
        }
        socket.onerror=function (event) {
            console.log(event);
            layer.open({
                title: '提示'
                , content: '<i class="layui-icon layui-icon-face-cry" style="color: #ff601e;font-size: 30px"></i>  连接失败',
                btn: ["确定"],
                btn1: function (index, layero) {
                    layer.closeAll();
                    for(let i=0;i<aa[el.parentNode.parentNode.getAttribute("data-line")].length;i++){
                        if(aa[el.parentNode.parentNode.getAttribute("data-line")][i].domainName===url){
                            aa[el.parentNode.parentNode.getAttribute("data-line")][i].statue="UNUSABLE"
                        }
                    }
                    info(aa)
                }
            })
        }
    }

    function domainStatueFilter(str) {
        switch (str) {
            case "NORMAL":
                return {color:"#2a80ff",name:"正常"}
            case "UNUSABLE":
                return {color:"#ff1010",name:"不可用"}
            case "OVERDUE":
                return  {color:"#ff9322",name:"过期"}
            default :
                return str
        }
    }

</script>
</body>
</html>